[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
click = "*"
flask = "*"
python-socketio = {extras = ["asyncio_client"], version = "*"}
requests = "*"
requests2 = "*"
paramiko = "*"
pyinstaller = "*"
flask-socketio = "*"

[requires]
python_version = "3.8"
