<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form method="POST" action="http://127.0.0.1:5000/login">
            <table>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="email"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
        {% if error %}
            <p><strong>Error</strong>:{{ error }}</p>
        {% endif%}    
    </body>
</html>